body {background-color:#FFFFFF;font-family:"Tahoma", "Times New Roman", "Times", serif;}
#contents {background-color:white;}

/*Box Styling*/
.box			{background-color:#CCCCCC;}
.box .header	{text-align:center;font-size:14pt;color:#FFCC33;background-color:#7A0019;}
.box .header h1 {font-size:110%;font-variant:small-caps;}
.box .content	{text-align:left;}
.box .content p		{text-align:left;margin-top:0}
.box .content h1	{margin:0;font-size:110%}
.box .content ul	{margin:0;padding-left:1em;list-style-type:none;text-align:left;}

/*Lists in boxes on main page*/
.boxlist {list-style-type:none;padding:0;font-size:0.8em;}
.boxlist li {margin-bottom:5px;}

/*Aesthetics*/
.nobord{border:0;}
#main h1:first-child{margin:0;}
#main h1 {margin-bottom:5px;}
#main h2 {margin:5px 0 5px 0;}
